@use "variables";

@mixin container {
  max-width: 1120px;
  margin: 0 auto;
  padding-inline: variables.$space-4;
}

.sr-only {
  position: absolute !important;
  width: 1px; height: 1px;
  padding: 0; margin: -1px;
  overflow: hidden; clip: rect(0, 0, 0, 0);
  border: 0;
}

.mt-4 { margin-top: variables.$space-4; }
.mb-4 { margin-bottom: variables.$space-4; }
.gap-4 { gap: variables.$space-4; }
